.root {
    -fx-padding: 20;
}

.text-area {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-color: #ddd;
    -fx-border-radius: 10;
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0.1, 0, 2);
    -fx-font-family: "Arial";
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #ccc;
    -fx-padding: 6 10;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-size: 14px;
    -fx-padding: 8 16;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #45A049;
}
